/*
 * Author: ;
 * Date: 16/9/16;
 * Theme: First Project;
 */

/*======================
Global CSS 
======================*/
body{
	padding: 0;
	margin: 0; 
	height: 100%;
	font-family: 'Ramabhadra', sans-serif;
	background: url(../img/body-bg.jpeg) no-repeat center center;
	background-size: cover;
}
html{
	
	min-height: 100%;
}
a, a:hover, a:focus{
 text-decoration: none;
 color: #ffffff;
 
}

a, a:focus, a:active, button, input[type="submit"], input[type="button"] {
	outline: none;
	transition: all .3s ease;
	}
strong{
	font-weight: 400 !important;
}
h1{
	font-size: 35px;
	line-height: 40px;
	color: #ffffff;
}
p {
	margin: 10px 0 20px 0; 
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/*======= main section css here ===========*/
.main{
	float: left;
	width: 100%;
	
}
/*====left sidebar section css here =====*/
.left-sidebar{
	float: left;
	width: 100%;
	background-color: #96D4AB;
}

.body-bg2{
	background: url(../img/bg-img.jpeg) no-repeat center center;
	background-size: cover;
}

/*==== inner wrapper section css here ====*/
.inner-wrapper{
	float: left;
	width: 80%;
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(left, rgb(22, 32, 41) 0%, rgba(50, 51, 56, 0.82) 80%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgb(22, 32, 41) 0%,rgba(50, 51, 56, 0.82) 80%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgb(22, 32, 41) 0%,rgba(50, 51, 56, 0.82) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=.8 ); /* IE6-9 */
	padding: 0 30px 0 90px;

}
.change-color{
	color: #8ED1A3;
}
/*==== header css starts here =====*/
header{
	float: left;
	width: 100%;
	padding: 50px 0 0 0;
	border-bottom: 1px solid #AEBBCB;
}
.logo{
	font-size: ;
	line-height: ;
	color: #AEBBCB;
	text-transform: uppercase;
	display: block;
	margin-top: 16px;
	font-size: 16px;
	line-height: 20px
	font-family: 'Ramabhadra', sans-serif;
}
.logo:hover{
	text-decoration: none;
	color: #AEBBCB !important;
}
/*==== top navigation css here =====*/
.navbar-inverse{
	background-color: transparent !important;
	border-color: transparent !important;
}
#myNavbar{
	padding-right: 0;
}
#myNavbar .navbar-nav{
	float: right;
}
.navbar-nav li.active a{
	color: #8dc9a9 !important;
}
.navbar-nav li.active a{
	background-color: transparent !important;
}
.navbar-inverse .navbar-nav>li>a{
	text-transform: uppercase;
	color: #ffffff;
	font-family: 'Ramabhadra', sans-serif;
}
.navbar-inverse .navbar-nav li:last-child a{
	padding-right: 0;
}
.navbar-nav li a:hover{
	color: #8dc9a9 !important;
}
.navbar{
	margin-bottom: 0 !important;
}

/*======== digital-section css starts here ============*/
.digital-section{
	float: left;
	width: 100%;
	padding: 100px 0 200px 0;
	text-align: left;
}
.light-green{
	color: #8ED1A3;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: 'Ramabhadra', sans-serif;
}
.digital-section h1{
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 40px;
	line-height: 46px;
	
	font-family: 'Ramabhadra', sans-serif;
}
.green-border{
	height: 5px;
	background-color:#8ED1A3;
	width: 76px;
	float: left;
	border:0; 
}
.info-content{
	float: left;
	width: 28%;
	padding-top: 25px;
	clear: left;
}
.info-content p{
	color: #B1BFCC;
	font-style: italic;
	font-family: 'Scheherazade', serif;
	font-size: 23px;
	line-height: 27px;
	letter-spacing: 1px;
}
/*======= click me button css here ==========*/
.click-me
{
	float: left;
	margin-left: 1%;
	margin-top: 39px;
	background-color: #8ED1A5;
	border-radius: 50%;
	width: 46px;
	padding-top: 12px;
	height: 42px;
	text-align: center;
	color: #ffffff;
}
.click-me i{
	font-size: 21px;
	line-height: 24px;
	font-weight: lighter;
	color: #ffffff;
}
.click-me:hover , .click-me:hover i{
	color: #ffffff;
}

/*====== all media queries here =======*/

@media screen and (max-width: 900px){
	.info-content{
		width: 36%;
	}
}
@media screen and (max-width: 843px){
	
	
	.logo{
		margin-top: 16px;
	}
	.inner-wrapper{
		padding: 0 30px 0 30px;
	}
}

@media screen and (max-width: 768px){
	.navbar-toggle{
		margin-top: -24px;
		margin-right: 0;
	}
	#myNavbar .navbar-nav{
		float: left;
	}
	.navbar{
		min-height: auto;
	}
}
@media screen and (max-width: 500px){
	.digital-section h1{
		font-size: 28px;
		line-height: 32px;
	}
	.info-content{
		width: 100%;
	}
	.click-me{
		margin-left: 40%;
	}
}








